<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<property name="LOG_DEBUG" value="/Users/nghiant/Desktop/opt/" />

    <appender name="DEBUG-FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DEBUG}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>debug.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd hh:mm:ss.SSS} %-3level [%logger{36}:%method:%line] - %msg%n%ex{full}</pattern>
        </encoder>

    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%date{yyyy-MM-dd hh:mm:ss.SSS} %-3level [%logger{36}:%method:%line] - %msg%n%ex{full}</pattern>
        </encoder>
    </appender>

    <logger name="tps.jp.audittool.apiresource" level="debug" additivity="false">
        <appender-ref ref="DEBUG-FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

	<root level="info">
		<appender-ref ref="DEBUG-FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>